body {
    @apply text-white min-h-screen bg-gray-700;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    @apply text-sm;
}

footer{
    @apply md:bottom-0;
}
main{
    min-height: 85vh;
}

@tailwind base;
@tailwind components;
@tailwind utilities;